/* Contact */
/* line 4, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/contact.scss */
.contact {
  width: inherit;
  background-color: red;
  height: 600px;
  padding-top: 50px;
  background-image: url(images/iceland-crunch-sm.png);
  background-size: 1440px 650px;
  filter: brightness(90%);
  -webkit-filter: brightness(90%);
  -moz-filter: brightness(90%);
  -o-filter: brightness(90%);
  -ms-filter: brightness(90%);
}

/* line 18, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/contact.scss */
.contact-forms {
  width: 50%;
  padding: 8px 16px 8px 10px;
  border-radius: 6px;
  margin: 0 auto;
  background-color: rgba(16, 17, 18, 0.8);
}

/* line 26, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/contact.scss */
.contact textarea {
  width: 100%;
  padding: 16px 14px 0 14px;
  margin: 8px 4px;
  resize: none;
  background: transparent;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 1.1em;
  color: white;
}

/* line 39, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/contact.scss */
.contact ::-webkit-input-placeholder {
  font: 1em;
  color: rgba(229, 231, 230, 0.8);
}

/* line 46, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/contact.scss */
.contact-message textarea {
  height: 200px;
}

/* line 50, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/contact.scss */
.contact button {
  padding: 10px;
  margin: 0 4px 5px 4px;
  background: transparent;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
}

/* line 59, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/contact.scss */
.contact button:hover {
  border: 2px solid rgba(26, 147, 130, 0.8);
  color: white;
}

/* line 64, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/contact.scss */
.contact button:focus {
  outline: 0;
}

/* line 68, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/contact.scss */
.contact input:focus, textarea:focus {
  outline: 0;
  background: rgba(255, 255, 255, 0.1);
}
/* line 1, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/index.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 3, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/index.scss */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 11, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/index.scss */
html, body, section, .container {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

/* line 19, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/index.scss */
.cover {
  width: inherit;
  height: 800px;
  color: white;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  background-image: url(https://ununsplash.imgix.net/uploads/14115120538776712c565/a699942a?q=75&fm=jpg&s=5379239231f09deb4570e043e0bec939);
  background-size: 1450px;
}

/* line 30, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/index.scss */
.myname {
  padding-right: 72px;
  float: right;
  position: relative;
  top: 355px;
}

/* line 37, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/index.scss */
.adam {
  font-size: 180px;
  padding-left: 9px;
}

/* line 42, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/index.scss */
.lichty {
  font-size: 120px;
  letter-spacing: 18px;
  line-height: 24px;
}
/* line 1, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/reset.scss */
body {
  line-height: 1;
}

/* line 29, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, /Users/Jadam/workspace/rails/rPortfolio/app/assets/stylesheets/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*


 */

