.container
  .cover
    .myname
      %span.adam ADAM
      %br
      %span.lichty LICHTY
  .portfolio

  .about

  .contact
    .contact-forms
      .contact-name

      .contact-email

      .contact-message
        = render 'pages/contact'
      %button{:name => "submit"} Submit
