.btn, input[type=submit] {
  padding: 10px;
  margin: 0 4px 5px 4px;
  background: transparent;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

.btn:hover, input[type=submit]:hover {
  border: 2px solid rgba(26, 147, 130, 0.8);
  color: white;
}

.btn:focus, input[type=submit]:focus {
  outline: 0;
}

.nav .btn {
  border-color: rgba(134, 102, 178, 1);
  color: rgba(134, 102, 178, 1);
  float: right;
  margin-top: 5px;
}

.btn.project {
  border-color: rgba(196, 54, 227, 1);
  color: rgba(196, 54, 227, 1)
}

.project.btn-edit {
  position: relative;
  border-color: white;
  color: white;
  bottom: 4.3em;
}

.btn-delete {
  margin: 10px;
}

.btn-forum {
  margin: 4px;
  top: 1em;
  position: relative;
}
